.productDetail {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-left: 300px;
  margin-right: 300px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  padding: 10px 0;
  margin-bottom: 4px;
}

.productDetail div {
  flex: 1;
  text-align: center;
  padding: 10px;
}

.productDetail div:nth-child(1) {
  flex: 0;
}

.productDetail div:nth-child(2) {
  flex: 3;
}

.productName {
  display: flex;
  align-items: center;
  height: 70px;
}

.productCheckbox {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.02);
  height: 16px;
  width: 16px;
  margin-left: 16px;
  margin-right: 8px;
}

.productImage {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  object-fit: cover;
}

.productName span {
  flex-grow: 0;
  margin-left: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.quantityInput {
  width: 50px;
  padding: 5px 10px;
  text-align: center;
  border: 1px solid #cccccc;
  outline: none;
}

.quantityInput:focus {
  border-color: #007bff;
}

.subButton,
.plusButton {
  padding: 5px 12px;
  border: 1px solid #cccccc;
  cursor: pointer;
  background-color: white;
}

.subButton {
  border-right: none;
}

.plusButton {
  border-left: none;
}

.productActions {
  display: flex;
  justify-content: center;
}

.actionButton {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.actionButton:hover {
  background-color: #0056b3;
}

.productPrice,
.productTotal,
.productActions {
  flex: 1;
  text-align: center;
  padding: 10px;
}

.productQuantity {
  display: flex;
  align-items: center;
  justify-content: center;
}
