.wrapper {
  height: 54px;
  width: 100%;
  position: relative;
  margin-bottom: 1.5rem;
}

.inputField {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 1.06rem;
  border-radius: 0.31rem;
  border: 1px solid #ccc;
  padding: 0px 1.25rem 0 3.12rem;
  transition: 0.2s ease;
}

.inputField:focus {
  border-color: #444444;
}

.inputField::placeholder {
  color: #ccc;
}

.wrapper i {
  position: absolute;
  top: 50%;
  height: 100%;
  display: flex;
  color: #ccc;
  align-items: center;
  transform: translateY(-50%);
  transition: 0.2s ease;
}

.wrapper :global(i:not(.eye-icon)) {
  left: 0.93rem;
  pointer-events: none;
}

.inputField:focus ~ :global(i:not(.eye-icon)) {
  color: #444444;
}

.wrapper :global(.eye-icon) {
  display: none;
  right: 0.93rem;
  color: #9a9a9a;
  cursor: pointer;
  font-size: 1.25rem;
}

.wrapper .inputField:valid ~ :global(.eye-icon) {
  display: flex;
}
