.header {
  position: fixed;
  width: 100%;
  min-height: 85px;
  top: 0;
  left: 0;
  background-color: #15b392;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shopName {
  font-family: "Playwrite GB S", cursive;
}
.logoButton {
  color: #dedede;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.logo {
  font-size: 2.4rem;
  margin-left: 1.5rem;
}

.searchBar {
  display: flex;
  align-items: center;
}

.searchBar input {
  padding: 12px 12px;
  font-size: 14px;
  width: 650px;
  font-style: italic;
  border: none;
}

.searchBar input:focus {
  outline: none;
}

.searchBtn {
  padding: 12px 16px;
  font-size: 14px;
  background-color: #54c392;
  color: #fbfbfb;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}

.searchBar button:hover {
  background-color: #50b98c;
}

.userOptions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.userOptions a {
  color: #fbfbfb;
  text-decoration: none;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
}

.iconify {
  font-size: 1.3rem;
}

.notificationIcon,
.messageIcon,
.cart {
  position: relative;
  font-size: 24px;
}

.notificationIcon:hover,
.messageIcon:hover,
.cart:hover {
  position: relative;
  font-size: 24px;
  background-color: #54c392;
  border-radius: 5px;
}

.notificationCount,
.messageCount,
.cartCount {
  background-color: #54c392;
  color: #fbfbfb;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  position: absolute;
  top: -10px;
  right: -10px;
}
